.btn {
    display: inline-block;
    background-color: #000;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-style: 15px;
    font-family: inherit;
}
.btn-block {
    width: 100%;
}

.btn:active {
    transform: scale(0.98);
}