.App {
    max-width: 500px;
    margin: 30px auto;
    min-height: 150px;
    border: 1px solid rgb(70, 94, 114);
    padding: 30px;
    border-radius: 5px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-link-button {
    color: rgb(0, 94, 235);
    font-weight: bold;
}